<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SchemaCrawler SQLite Diagrams</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</head>
<body>
	<div class="container">
		<div class="starter-template">
			<h1>Form</h1>
			<form action="#" th:action="@{/greeting}" th:object="${greeting}"
				method="post">
				<p>
					id: <input type="text" th:field="*{id}" />
				</p>
				<p th:if="${#fields.hasErrors('id')}" th:errors="*{id}" />
				<p>
					content: <input type="text" th:field="*{content}" />
				</p>
				<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" />
				<p>
					<input type="submit" value="Submit" /> <input type="reset"
						value="Reset" />
				</p>
			</form>
		</div>
	</div>
</body>
</html>
