<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
</head>
<body>

	<div class="container">
		<div class="starter-template">
			<h1>SchemaCrawler Diagrams for SQLite</h1>
			<p class="lead" th:text="'Hello, ' + ${name} + '!'" />
		</div>
	</div>

</body>
</html>
