name: Quick Build

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Quick build
    runs-on: ubuntu-latest
    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 21
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.3

# BUILD DEPENDENCIES
    - id: build-schemacrawler-core
      name: Build SchemaCrawler-Core
      uses: sualeh/build-maven-dependency@v1.0.8
      with:
        repository: schemacrawler/SchemaCrawler-Core
        artifact: us.fatehi:schemacrawler:17.6.0
    - id: build-schemacrawler
      name: Build SchemaCrawler
      uses: sualeh/build-maven-dependency@v1.0.8
      with:
        repository: schemacrawler/SchemaCrawler
        artifact: us.fatehi:schemacrawler-commandline:17.6.0

# VALIDATE OPENAPI SPECIFICATION
    - id: redocly
      name: Validate OpenAPI definition
      shell: bash
      run: |
        # Validate OpenAPI definition
        npm install @redocly/cli -g
        redocly lint ./src/main/resources/api/schemacrawler-web-application.yaml

# BUILD AND TEST
    - id: build-test
      name: Build and run tests
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          clean package
    - id: publish-test-results
      name: Upload results and coverage
      if: contains(github.ref, 'main')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CODECOV_TOKEN: 350b716c-8f65-451b-b438-072f0662637d
      shell: bash
      run: |
        bash <(curl -s https://codecov.io/bash)
