name: Quick Build

on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    name: Quick build
    runs-on: ubuntu-latest

    # Service containers to run with workflow
    services:
      swagger-editor:
        image: docker.swagger.io/swaggerapi/swagger-editor
        ports:
          - 80:8080


    steps:

# SETUP BUILD ENVIRONMENT
    - id: prepare-maven-build
      name: Prepare Maven build
      uses: sualeh/prepare-maven-build@v1.6.1
      with:
        java-version: 21
    - id: install-graphviz
      name: Install Graphviz
      uses: sualeh/install-graphviz@v1.0.3

# BUILD DEPENDENCIES
    - id: checkout-schemacrawler
      name: Checkout SchemaCrawler
      uses: actions/checkout@v6
      with:
        repository: schemacrawler/SchemaCrawler
        path: SchemaCrawler
    - id: build-schemacrawler
      name: Build SchemaCrawler for local Maven repository
      shell: bash
      run: |
        # Build SchemaCrawler
        cd SchemaCrawler
        mvn \
          --no-transfer-progress \
          --batch-mode \
          -DskipTests=true \
          clean install

# VALIDATE OPENAPI SPECIFICATION
    - id: ping-server
      name: Check Swagger Editor reachable
      run: |
        curl -v http://localhost/ || echo "Swagger Editor not reachable"
    - id: validate-open-api-definition
      name: Validate OpenAPI definition
      uses: swaggerexpert/swagger-editor-validate@v1
      with:
        swagger-editor-url: http://localhost/
        default-timeout: 60000
        definition-file: src/main/resources/api/schemacrawler-web-application.yaml

# BUILD AND TEST
    - id: build-test
      name: Build and run tests
      shell: bash
      run: |
        # Build
        mvn \
          --no-transfer-progress \
          --batch-mode \
          clean package
    - id: publish-test-results
      name: Upload results and coverage
      if: contains(github.ref, 'main')
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CODECOV_TOKEN: 350b716c-8f65-451b-b438-072f0662637d
      shell: bash
      run: |
        bash <(curl -s https://codecov.io/bash)
